@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}


.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 48px;
}

.nav-link:link,
.nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #3c4144;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.4s ease;
}

.nav-link:hover,
.nav-link:active {
    color: #E54220 !important;
}