@import "global";

body {
    font-family: 'Archivo', sans-serif !important;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

.header img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #041a57;
    margin-top: 128px;
    padding: 48px 0;
}

nav ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

nav ul li a:link,
nav ul li a:visited {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.4s ease;
}

nav ul li a:hover,
nav ul li a:active {
    text-decoration: underline;
}

.footer-right p {
    color: #FFF;
    font-weight: 500;
    font-size: 24px;
}